iframe{
	width: 100%;
    left: 0;
    height: 100vh;
    border: 0;
}

.comments{
	font-size:16px;
}
.comment__conent{
	padding: 10px;
    background: #f2fafc;
    margin: 10px;
    text-align: left;
    margin-bottom: 30px;
}
.comments-box{
    font-size: 18px;
    background: white;
    padding: 25px;
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid;
    margin-bottom:10px;
}
.comment__user{
	      padding-right: 15px;
    width: fit-content;
    text-align: left;
        margin: 5px 0;
    background: beige;
    padding: 10px;
    border-radius: 8px;
}

.comments-box__item.comment{
   max-width: 80%;
        margin: 5px auto;
    position: relative;
}
.paper-page{
width: 100%;
}






#name_form{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}



.container-comment__input button:before, 
.container-comment__input button:after {
  content: "Отправить";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.container-comment__input button:before{
  content: "wait..";
  transform: translateX(-100%);
  background: #000;
  transition: transform .3s cubic-bezier(.55,.055,.675,.19);
  color:white;
}
.container-comment__input button:after {
  background: #413ad5;
  transform: translateX(100%);
  transition: transform .3s cubic-bezier(.16,.73,.58,.62) .3s;
}
.container-comment__input button:hover:before,
.container-comment__input button:hover:after{
    transform: translateX(0);
}
.container-comment__input button{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 200px;
    color: black;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    margin-left: 20px;
    background: white;
}
.container-comment__input button:after , .container-comment__input button:hover:before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: white;
 }   


#comment_add textarea{
    padding: 30px 45px;
  width: 500px;
    height: 200px;
     outline:none;
}
#comment_add textarea:focus{
  border-color:#bee5eb;
}
#comment_add input{
   box-shadow: 0 0 10px rgba(0,0,0,0.5); 
   border:none;
   padding:3px;
   outline:none;
}

.close-btn img{
position: absolute;
    width: 35px;
    margin: 10px;
    right: -50px;
    top: -50px;
}
.container-comment__form textarea , .container-comment__form input{
  margin:10px;
}
.container-comment__input{
  position:relative;

}
.container-comment__sbm{
  
}
.container-comment__form div{
      display: flex;
    padding: 10px;
    align-items: center;
}
.container-comment__form{
 border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: fit-content;
    text-align: center;
    bottom: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px auto;
    background: #edeef0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.container-comment__item{
  background: #edeef0;
    width: 90%;
    margin: 10px auto;
    text-align: left;
    
    padding: 10px;
}
.container-comment__header{
 font-size:20px;
  position:relative;
  display:flex;
  margin:45px;
}
.container-comment__header div{
  padding:5px;
}
.container-comment__header button{
  position: absolute;
  top: 5px;
  right: 5px;
}
.container-comment{
    top:10%;
    color: black;
    width: 100%;
    z-index: 999999999;
    position: absolute;
    left: 0;
    height: 100%;
    top: 30px;
}   
.container-comment__content{
height: fit-content;
 box-shadow: 0 0 10px rgba(0,0,0,0.5); 
      width: 900px;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 45px;
}
    
