#paper-page{
	height: 100vh;
 text-align: start;
}
#paper-page .papers-container{
	 display: block;
    float: left;
    width: 50%;
    height: 50vh;
    overflow: hidden;
    cursor:pointer;
}
.paper-item__btn{
    align-items: center;
    display: flex;
    bottom: 0;
    right: 0;
    color: white;
    background: black;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    width: fit-content;
}
.item-btn__title{
        border-left: 1px solid;
    border-right: 1px solid;
    margin-left: 10px;
    padding: 0 5px;
    border-radius: 9px;
}
.papers-container__comments{
  display:none;
}