<div>
	<h1>
		Авторизация API
	</h1>
	<form id='aut'>
		<p>
			<input type="text" placeholder="Логин" name="login" />
		</p>
		<p>	
			<input type="text" placeholder="Пароль" name="pass" />
		</p>
		<p>		
			<input type="submit">
		</p>	
	</form>
</div>

<script type="text/javascript">
	document.forms.aut.addEventListener('submit' , function (e) {
		e.preventDefault();
		console.log(this.querySelector('input[name="login"]').value)
		console.log(this.querySelector('input[name="pass"]').value )
	});
</script>