.discription-projects{
    margin-top: 25px;
    padding: 15px;
    border-radius: 5px;
    background: #f5f5f5;
}
.block-info-project{
padding: 50px 30px 0 30px;
}
.project-box:hover .project-container{
/*transform: translateY(-30px); */
box-shadow: 20px -10px 30px rgba(0,0,0,0.5);
animation: rottate 2s  both;
}
.project-box:hover .project-container:before{
    animation: top 2s  both;
    pointer-events: none;
    animation-delay: 1s;
  
}
.project-container:before {
   color: black;
    content: attr(text);
    display: inline-block;
    transform: rotateY(180deg);
    width: 75%;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: -500px;
} 
@keyframes rottate {
  0% {
     
  }
  100% {
    background:linear-gradient(to top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
    transform: rotateY(180deg);
  } 
} 
@keyframes top {
  0% {
     
  }
  100% {
    margin-top: 0px;
    transform: rotateY(180deg);
  } 
}     
.projects-list{
   display: flex;
    margin-top: 100px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    flex-wrap: wrap;
}
html .project-container{
        transition: 0.5s;
        outline: 5px solid;
    background: white;
    word-wrap: break-word;
    position: relative;
    width: 100%;
    display: inline-block;
    color: black;
    max-height: 450px;
    overflow: hidden;
    height: 400px;
    background-size: cover !important;
    background-blend-mode: overlay;
    background-color: #E9E2E2 !important;
    text-decoration: none;
}
.box-img img{
    width:100%;
}
@media (max-width: 1055px) {
    html .project-container{
        width: 70%;
    }
}

.project-box{
    height: 400px;
    width: 50%;
}