.item{
    display: flex;
    position: relative;
    margin: auto;
    height: 100%;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 3px 3px 5px black, 0 0 1em black;
    i:before{
        font-family: "FontAwesome";
    }
    .fa-trash-alt:before {
        content: "\f171";
    }
    
}
.item__title{
    
	height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    .title__content{
        font-size:16px;
    }
 }  
.container-btn{
	font-size: 18px;
	padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    span{
       margin:5px;
    }
}

.sbm-span:before{
    position: absolute;
    font-family: "FontAwesome";
    content: '\f0c7';
    font-style: normal;
    font-size: 50px;
    left: 0;
    bottom: 0;
    cursor:pointer;
}
.discription-project__item , .name-project__item , .url-project__item , .image-project__item , .image-project-full__item{
    font-size:20px;
        padding: 5px;
}