$body-color: red;

body {
  color: $body-color;
  #app{
      background: white;
      .index-container{
       	 display:flex;
      	.index-container__item{
      		width:25%;
      		margin:10px;
      		background:#EBFBFF;
      	}
      }
      .page_popupp{
          background: white;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
      }
  }
}

.box{
color: white;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:400px;
  background:#000;
  padding:40px;
  box-sizing:border-box;
  box-shadow: 0 15px 25px rgba(0,0,0, .3);
  border-radius:10px;
}

.box h1{
  margin:0 0 30px;
  padding:0;
  color:#fff;
  text-align:center;


}


.box .inputbox{
  position:relative;  

}

.box .inputbox input{
  width:100%;
  color:#fff;
  font-size:16px;
  letter-spacing:2px;
font-weight:700;
  margin-bottom:30px; 
  padding:10px 0;
  background:transparent;
  border:none;
  outline:none;
  border-bottom: 1px solid #fff;
  
}



.box .inputbox label{
  position:absolute;
  top:0;
  left:0;
  padding:10px 0;
  font-size:16px;
letter-spacing:2px;
font-weight:700;
  color:#fff;
  pointer-events:none;
  transition: .2s;
  
}



.box .inputbox input:focus~label{
  top:-18%;
  left:0;
  font-size:12px;
  
}


.box .inputbox input:focus{
 border-bottom:2px solid white;
}

.box .inputbox input:valid~label{
  
  top:-18%;
  left:0;
  font-size:12px;
  color:#03a9f4;
}

.box__btn{
 position:relative;
  display: flex;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    padding: 3px;
}
   .sbm{
 width: 100px;
    background: white;
    align-items: center;
    height: 80%;
    display: flex;
    position: absolute;
    left: 5px;
    justify-content: center;
    color: black;
    font-size: 20px;
    right: 0;
    cursor:pointer;
   } 
   .sbm:hover{
    border:1px solid white;
    color:white;
    background: none;
   }
   .span_save{
position:absolute;
 right:5px;
   }



a{
  padding:10px 20px;
  background:#03a9f4;
  border:none;
  color:#fff;
  outline:none;
  border-radius:5px;
  text-decoration:none;
}