$body-color: red;

body {
  color: $body-color;
  #app{
      background: white;
      .index-container{
       	 display:flex;
      	.index-container__item{
      		width:25%;
      		margin:10px;
      		background:#EBFBFF;
      	}
      }
      .page_popupp{
          background: white;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
      }
  }
}