#__layout #app .page{
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    
}
body{
	background: url("http://www.alexweber.ru/img/rockywall.webp");
}
